html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Inter", sans-serif;
    color: white;
    background-color: #333333;
   
}

.navbar ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    background-color: #252525;
    overflow: hidden;
}

.navbar ul li{
    display: inline;
    float: left;
}

.navbar ul li a{
    display: block;
    padding: 8px;
    text-align: center;
    background-color: #252525;
    text-decoration: none;
    color: white;
}