{% extends "main.html" %} {% block styles %}
<link href="/static/main.css" rel="stylesheet" />
<link href="/static/home.css" rel="stylesheet" />
<!--FOR NEXT AND PREV CHEVRONS-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<script src="{{url_for('static', filename='script.js')}}" defer></script>
{% endblock %} {% block page_content %}
<style>
  .logo{
    position: absolute;
    left: 20px;
    animation: fadeIn 2s;
    color: cornflowerblue;
  }
  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    animation: fadeIn 2s;
  }
  .register-container h1 {
    color: cornflowerblue;
  }
  .register-container {
    width: 50vh;
  }
  .left-form {
    float: left;
  }
  .right-form {
    float: right;
  }
  .fname,
  .lname,
  .username,
  .password,
  .email,
  .city {
    color: #a8a8a8;
  }

  .register input[type="text"],
  .register input[type="password"] {
    width: 85%;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: #3e3e3e;
    outline: none;
    color: white;
    
    
  }
  .register button {
    left: 5px;
    
    background-color: cornflowerblue;
    padding: 15px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 95%;
    color: white;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .div2 {
  width: 80%;
  
}

.reset-password {
    display: inline-block;
    background-color: #f44336;
    color: #FFFFFF;
    padding: 0.28rem;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
}
</style>

<div class="div1">

    <div class="top">
      <h1>creativename</h1>
    </div>
    <div class="settings-list">
      <a href="{{(url_for('home', username = current_user.username))}}" style="text-decoration: none; color: white;"><ul class="settings-list-ul" style="padding-left:0;">
        <ul class="settings-container">
          <li class="account">
            <img class='trash-bin' src="static/home.svg" style="height: 35px; width: 35px"
          />
          </li>
          <li style="left: 30px;"><p>Home</p></li>
        </ul>
      </a>

      </div>
      <a href="{{url_for('logout')}}"> 
        <div class="logout-container">
            <p>Log Out</p>
      </div>
      </a>
    </div>
 </div>

 <div class="div2">

<div class="body">
  <div class="register-container">
    <h1>Account</h1>
    <form class="register" method="post">
      <div class="left-form">
        <p class="fname">{{form.fname.label}}</p>
        {{form.fname()}}
        <br />
        <p class="lname">{{form.lname.label}}</p>
        {{form.lname()}}
        <br />
        <p class="password">Password</p>
        <a href="/reset" class="reset-password">Reset Password</a>
      </div>
      <div class="right-form">
        <p class="username">{{form.username.label}}</p>
        {{form.username()}}
        <br />
        <p class="email">{{form.email.label}}</p>
        {{form.email()}}
        <br />
        <p class="city">{{form.city.label}}</p>
        {{form.city()}}
      </div>
     
      <button type="submit"><b>Update</b></button>
    </form>
    
  </div>
</div>

</div>

{% endblock %}
