{% extends "main.html" %}
{% block styles %}
<link href="/static/main.css" rel="stylesheet">
<link href="/static/home.css" rel="stylesheet">
{% endblock %}
    {% block page_content %}
    <div class="div1">
        <!--
        <div class="hello">
            <h1>Hello,</h1>
        </div>
        <div class="name">
            <h1>{{user.4}}</h1>
        </div>
        <div class="weather"><h1>{{weather.0}}°C<br>{{weatherS.2}}, {{weatherS.1}} </h1></div>-->
        <div class="top">
            <h1>creativename</h1>
        </div>
        <h1 class="logout">Log out</h1>
    </div>

    <div class="div2">
       <!--<div class="list">
            <table>
            {% for task in tasks %}
            <tr>
                <td class="tasks"><h1>{{task.2}}</h1></td>
                <td><a href="/deletetask/{{task.0}}">Delete</a></td>
            </tr>
            {% endfor %}
            <tr>
                <td>
                    <form method="post" class="new-task">
                        {{form.task(class="task-input")}}
                        <button type="submit" class="new-task-button">New Task</button>
                    </form>
                </td>
            </tr>
            </table>
        </div>--> 
        <h1>Good to see you Again.</h1>
        
    </div>
    <div class="div3"></div>
    {% endblock %}