{% extends "main.html" %}
{% block title %}Register{% endblock %}

{% block page_content%}
    <div>
        <h1>Create an Account</h1>
        <form method=post>
            {{form.fname.label}}
            {{form.fname()}}
            <br>
            {{form.lname.label}}
            {{form.lname()}}
            <br>
            {{form.email.label}}
            {{form.email()}}
            <br>
            {{form.username.label}}
            {{form.username()}}
            <br>
            {{form.password.label}}
            {{form.password()}}
            <br>
            {{form.city.label}}
            {{form.city()}}
        <button type="submit">REGISTER</button>
        </form>
    </div>
    <h5><a href="/login">Login</a></h5>

{% endblock %}
