{% extends "main.html" %} {% block title %}Register{% endblock %} {% block
    page_content%}
    <style>
      .logo{
        position: absolute;
        left: 20px;
        animation: fadeIn 2s;
        color: cornflowerblue;
      }
      .body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        animation: fadeIn 2s;
      }
      .register-container h1 {
        color: cornflowerblue;
      }
      .register-container {
        width: 50vh;
      }
      .left-form {
        float: left;
      }
      .right-form {
        float: right;
      }
   
      .password {
        color: #a8a8a8;
      }
    
      .register input[type="text"],
      .register input[type="password"] {
        width: 85%;
        padding: 5px;
        margin-bottom: 15px;
        border-radius: 8px;
        background-color: #3e3e3e;
        outline: none;
        color: white;
        
        
      }
      .register button {
        left: 5px;
        background-color: cornflowerblue;
        padding: 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 95%;
        color: white;
      }
      .login-create {
        display: flex;
        justify-content: center;
        color: #a8a8a8;
        text-decoration: none;
      }
      .bottom-wave {
        position: fixed;
        bottom: 0;
      }
      
      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    </style>
    <div class="logo">
      <h1>creativename</h1>
    </div>
    <div class="body">
      <div class="register-container">
        <h1>Reset Password</h1>
        <form class="register" method="post">
          <div class="left-form">
            <p class="password">{{form.password.label}}</p>
            {{form.password()}}
            
          </div>
          <div class="right-form">
           
            <br />
          </div>
          <button type="submit"><b>Update</b></button>
        </form>
        <h5><a class="login-create" href="/account">Cancel</a></h5>
      </div>
    </div>
    <img class="bottom-wave" src="static/wave (2) (1).png" />
    
    {% endblock %}
    